* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    width: 750px;
    height: 750px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1rem;
}

.square {
    background-color: #808080;
    cursor: pointer;
    color: transparent;
    font-size: 14em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

